<div class="no-touch">
  <div class="animal-table border-l-b">
    <div class="col-md-4-4 col-xs-4-4 padding-l-5 border-t-r line-height-28 bold">一、基本訊息</div>
    <div
      class="image-self  border-t-r line-height-28"
      (click)="openImageModal(animal?.album_file)"
    >
      <a href="javascript:void(0)">
        <img
          src="{{animal?.album_file||'assets/images/non01.png'}}"
          alt
        >
      </a>
    </div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">狀態</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">
      {{ animal?.animal_status | dataTransform:selectType.STATUS }}
    </div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">流水編號</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">{{ animal?.animal_id }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">區域編號</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">{{ animal?.animal_subid }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">尋獲地點</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28 text-truncate">{{ animal?.animal_foundplace }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">開放認養時間</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">{{ animal?.animal_opendate }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">所屬縣市</div>
    <div class="col-md-1-4 col-xs-3-4 col-xs-2-4 padding-l-5 border-t-r line-height-28">
      {{ animal?.animal_area_pkid | dataTransform: selectType.AREA }}
    </div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">實際所在地</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28 text-truncate">{{ animal?.animal_place }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">所屬收容所</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28 text-truncate">{{ animal?.shelter_name }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">聯絡電話</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">{{ animal?.shelter_tel }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">地址</div>
    <div class="col-md-3-4 col-xs-3-4 padding-l-5 border-t-r line-height-28 text-truncate">{{ animal?.shelter_address }}</div>
    <div class="col-md-4-4 col-xs-4-4 padding-l-5 border-t-r line-height-28 bold">二、動物訊息</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">類型</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">{{ animal?.animal_kind }}</div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">性別</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">
      {{ animal?.animal_sex | dataTransform:selectType.SEX }}
    </div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">年紀</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">
      {{ animal?.animal_age | dataTransform:selectType.AGE }}
    </div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">體型</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">
      {{ animal?.animal_bodytype | dataTransform:selectType.BODY_TYPE }}
    </div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">毛色</div>
    <div class="col-md-1-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">{{ animal?.animal_colour }}</div>
    <div class="col-md-2-4 xs-hide padding-l-5 border-t-r line-height-28"></div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">是否絕育</div>
    <div class="col-md-3-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">
      {{ animal?.animal_sterilization | dataTransform:selectType.STERILIZATION }}
    </div>
    <div class="col-md-1-4 col-xs-1-4 padding-l-5 border-t-r line-height-28">是否施打狂犬病</div>
    <div class="col-md-3-4 col-xs-3-4 padding-l-5 border-t-r line-height-28">
      {{ animal?.animal_bacterin | dataTransform:selectType.BACTERIN }}
    </div>
    <div class="col-md-4-4 col-xs-4-4 padding-l-5 border-t-r line-height-28 bold">三、其它備註</div>
    <div
      class="col-md-4-4 row-md-5 col-xs-4-4 row-xs-4  padding-5 border-t-r"
      [ngClass]="{
          'row-xs-5': animal?.animal_remark.length > 120,
          'row-xs-6': animal?.animal_remark.length > 160,
          'row-xs-8': animal?.animal_remark.length > 200,
          'row-xs-10': animal?.animal_remark.length > 350
      }"
    >
      {{ animal?.animal_remark }}
    </div>
    <div class="col-md-1-4 col-xs-1-4 text-center bold  padding-l-5 border-t-r line-height-28">建立時間</div>
    <div class="col-md-1-4 col-xs-3-4 text-center  padding-l-5 border-t-r line-height-28 ">{{ animal?.animal_createtime }}</div>
    <div class="col-md-1-4 col-xs-1-4 text-center bold  padding-l-5 border-t-r line-height-28">異動時間</div>
    <div class="col-md-1-4 col-xs-3-4 text-center  padding-l-5 border-t-r line-height-28">{{ animal?.animal_update }}</div>
  </div>
</div>
