<div class="footer-inner">
  <div class="footer-top">
    <div class="left-block">
      <div class="breadcrumb-wrapper text-truncate">
        <i class="fas fa-atlas fa-xs m-l-5"></i>
        <i class="fa fa-angle-double-right fa-xs m-l-5" aria-hidden="true"></i>
        <span class="fa-xs m-l-5">
          step
        </span>
        <i
          class="fa fa-angle-double-right fa-xs m-l-5"
          aria-hidden="true"
        ></i>
        <span class="fa-xs m-l-5">
          step
        </span>
      </div>
    </div>
    <div class="right-block hidden-xs hidden-md hidden-sm">
      <span class="data-from">
        <i class="far fa-hand-point-right p-r-5"></i>
        <i>資料來源：行政院農業委員會資料開放平台</i>
      </span>
    </div>
  </div>
  <div class="footer-bottom">
    <a href="https://github.com/JiaHongL" target="_blank">
      <i class="fab fa-github p-r-5"></i>
    </a>
    <a href="https://www.facebook.com/tcapo.tas/" target="_blank">
      <i class="fab fa-facebook-square"></i>
    </a>
  </div>
</div>
