<table class="pure-table pure-table-striped issue-table">
  <thead class="thead">
    <tr>
      <th>#</th>
      <th class="hidden-xs">狀態</th>
      <th class="hidden-xs">類別</th>
      <th>單號</th>
      <th>標題</th>
      <th class="hidden-xs">填寫人</th>
      <th class="hidden-xs">建立時間</th>
    </tr>
  </thead>
  <tbody class="tbody">
    <tr
      [ngClass]="{'tr-odd': odd}"
      *ngFor="let issue of issues ; let index=index; let odd=odd;"
      (click)="openIssue(issue.id)"
    >
      <th>{{ getItemIndex(index) }}</th>
      <th class="hidden-xs">
        {{ issue.status | dataTransform : selectType.ISSUES_STATUS }}
      </th>
      <th class="hidden-xs">
        {{ issue.type | dataTransform: selectType.FEEDBACK_TYPE }}
      </th>
      <th>{{ issue.id }}</th>
      <th>{{ issue.title }}</th>
      <th class="hidden-xs">{{ issue.createUser }}</th>
      <th class="hidden-xs">
        {{ issue.createTime | date : 'yyyy/MM/dd HH:ss' }}
      </th>
    </tr>
  </tbody>
</table>
