.font-blue-steel {
    color: #4B77BE !important;
  }
  
  .font-blue {
    color: #3598dc !important;
  }
  
  .font-red {
    color: #e7505a !important;
  }
  
  .font-red-thunderbird {
    color: #D91E18 !important;
  }
  
  .font-red-intense {
    color: #e35b5a !important;
  }
  
  .font-grey-salsa {
    color: #ACB5C3;
  }
  
  .font-blue-steel {
    color: #4B77BE !important;
  }
  
  .font-grey-mint {
    color: #525e64 !important;
  }
  
  .button-secondary {
    background: rgb(66, 184, 221);
  }

  